<%= form_for(@commet) do |f| %>
  <% if @commet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@commet.errors.count, "error") %> prohibited this commet from being saved:</h2>

      <ul>
      <% @commet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_field :post %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
