<h1>Listing commets</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @commets.each do |commet| %>
      <tr>
        <td><%= commet.post %></td>
        <td><%= commet.body %></td>
        <td><%= link_to 'Show', commet %></td>
        <td><%= link_to 'Edit', edit_commet_path(commet) %></td>
        <td><%= link_to 'Destroy', commet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commet', new_commet_path %>
